html {
  font-size: 62.5%;
}

main {
  margin: auto 0;
}

.text-center {
  text-align: center;
}

.container {
  border: 1px solid;
  width: 80%;
  padding: 10px;
}

.top-section {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
}

.heading-primary {
  padding: 1.8rem;
}

.bottom-section {
  margin: 2rem auto;
}

.add-list {
  border: 1px solid;
}

.task-detail {
  display: flex;
  justify-content: space-between;
}

.left-pan {
  display: flex;
  align-items: center;
}

.section-add-list {
  /* display: flex; */
  align-self: center;
}